h1 {
    color: red;
}
h1 {
    color: green;
}
h1 {
    color: springgreen;
}
h1 {
    color: yellow;
}

h2 {
    color: black;
}

[class] {
    color: blueviolet;
}

.block_2 {
    color: aqua;
}