body {
  background-color: #333;
  color: #fff;
}

.container {
  padding: 100px 100px 50vh;
  height: 100%;
}

.transition {
  height: 100%;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: #555;
}

.block {
  width: 10px;
  height: 150px;
}

.black {
  border: 5px solid #000;
}

          /* Обычное свойство */
/* .black:hover {
  background-color: rgb(0, 0, 0);
  transition: background-color 3s 2s;
} */

        /* Универсальное свойство */
.black:hover {
  background-color: #000;
  transition: all 3s 2s;
}


.transition:hover .block {
  width: 100%;
}

.button {
  transition: border-radius 3s, background-color 3s 3s;

}

.button:hover {
  background-color: rgb(14, 37, 114);
  border-radius: 100px;
}
.block {
  transition: 1s;
}

